<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container table-responsive text-center">
        <h2>Members</h2>
        <!-- <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p> -->
        <p>
            <a href="add/">Add member</a>
        </p>
        <table class="table" border="1">
            <thead>
                <tr>
                    <th class="text-center">ID</th>
                    <th class="text-center">Firstname</th>
                    <th class="text-center">Lastname</th>
                    <th colspan="2" class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for x in mymembers %}
                <tr>
                    <td>{{ x.id }}</td>
                    <td>{{ x.firstname }}</td>
                    <td>{{ x.lastname }}</td>
                    <td><a href="delete/{{ x.id }}"><i style="font-size:20px" class="fa">&#xf014;</i></a></td>
                    <td><a href="update/{{ x.id }}"><i style="font-size:20px" class="fa">&#xf044;</i></a></td>
                    <!-- <td><a href="update/{{ x.id }}">{{ x.id }} - <i style="font-size:20px" class="fa">&#xf044;</i></a></td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>

</html>


<!-- <h1>Members</h1>

<table border="1">
    {% for x in mymembers %}
    <tr>
        <td>{{ x.id }}</td>
        <td>{{ x.firstname }}</td>
        <td>{{ x.lastname }}</td>
    </tr>
    {% endfor %}
</table> -->