* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    font-size: 3rem;
}

.container {
    background: #dcdcdc;

    width: 100%;
    height: 100%;

    display: grid;
    /* Grid em 2x2 */
    grid-template-areas: "h h h h"
                         "l m m r"
                         "f f f f";
    /* Grid em 1x3 - 3 colunas*/
    /* grid-template-areas: "l r f"; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;

}

.header {
    background: #fff;
    grid-area: h;
}

.nav-left {
    background: #f00;
    grid-area: l;
}

.main-content {
    background: #ff0;
    grid-area: m;
}

.nav-right {
    background: #0f0;
    grid-area: r;
}

.footer {
    background: #00f;
    grid-area: f;
}

/* Responsivo */

@media only screen and (max-width: 820px) {
    
    .container {
        grid-template-areas: "h" "r" "m" "l" "f";
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

