button{
    /* font-size: x-large; */
    font-size: 2.5em;
}

#reset {
    font-size: 1em;
}

body {
    /* background-color: rgb(32, 32, 32);
    color: white; */
    text-align: center;
    font-size: x-large;
}