/olaMundo_git/nbproject/private/
/olaMundo_git/build/
/EP0_LIBSIS/nbproject/private/
/EP0_LIBSIS/build/
/SisLib/nbproject/private/
/SisLib/build/
/SisLib/dist/
/p1_SisLib/nbproject/private/
/p2_SisProd/nbproject/private/
/p2_SisProd/build/
/p1_SisLib/build/
/p1_SisLib/dist/
/p2_SisProd/dist/
/ExemploScanner/nbproject/private/
/ExemploScanner/build/
/teste/nbproject/private/
/teste/build/
