<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <h2>Meu primeiro web server python</h2>

    <p><span></span>Olá Mundo</p>

    <h2><span style="color: red;">{%print(2+2)%}</span></h2>

    {%print(5*5)%}
</body>

</html>