* {
    margin: 0;
    padding: 0;
}

body {
    width: 99vw;
    height: 99vh;
    background: black;
    color: white;
    font-size: 1.5rem;
}

.container {
    /* background: #dcdcdc; */

    width: 100%;
    height: 100%;

    display: grid;
    /* Grid em 2x2 */
    grid-template-areas: "h h h h"
        "l m m r"
        "f f f f";
    /* Grid em 1x3 - 3 colunas*/
    /* grid-template-areas: "l r f"; */
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;

}

.header {
    background: #1f2b34;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    margin: 2rem;
    grid-area: h;
}

.nav-left {
    background: #212d36;
    margin: 2rem;
    margin-top: 0.5rem;
    border-style: solid;
    border-radius: 25px;
    grid-area: l;
}

.main-content {
    background: #101a21;
    /* color: black; */
    /* margin: 0rem; */
    margin-top: 0.5rem;
    /* border-style: solid; */
    border-radius: 25px;
    grid-area: m;
}

.nav-right {
    background: #212d36;
    margin: 2rem;
    margin-top: 0.5rem;
    border-style: solid;
    border-radius: 25px;
    grid-area: r;
}

.footer {
    background: #1f2b34;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    margin: 1rem;
    grid-area: f;
}

/* Navbar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.sobre {
    float: right;
    margin-right: 1rem;
}

.content {
    margin: 2rem;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

/* Responsivo */

@media only screen and (max-width: 900px) {

    body {
        font-size: 1.2rem;
        width: 100vw;
        height: 100vh;
    }

    ul {
        text-align: center;
    }

    li {
        display: block;
    }

    .sobre {
        float: none;
        margin-right: 0rem;
    }

    .container {
        grid-template-areas: "h""r""m""l""f";
        grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 450px) {

    img {
        width: 75%;
        height: auto;
    }
}